<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="/public/index.css" type="css/text"/>-->
</head>
<body>
<style>
    
    #p1{
        background-color: red;
        color:white;
    }
</style>

<p id="p1"><%= title %></p>

</body>
</html>