
.ctitle
{
    background-color:red;
    font-size:40px;
    color: white;
    text-align: center;
}

.addbtn,.lookbtn
{
    background-color: blue;
    color:white;
    /*border-radius: 30%;*/
    width: 100px;
    height: 30px;
}

#p1
{
    color:red;
    font-size: 20px;
}

#head1
{
    background-color: green;
    color:white;
    font-size: 16px;
    width: 120px;
}
.data-btn{
    width:40%;
    margin:auto;
}
.addbtn, .lookbtn{
    font-size: 15px;
    width:150px;
}
.data-table
{
    padding-top: 10px;
    background-color: lightgrey;
    color: blue;
    margin: auto;
    width:40%;

}

.edit-1, .delete-1
{
    background-color: red;
    border-radius: 10px;
}
.a-inside
{
    color:white;
}
.tabhead{
    color:red;
}
/*
modal window...
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    margin-top:100px;
    border: 1px solid #888;
    width: 50%;
    height:150px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal_btn{
      width:100px;
      height:30px;
      background-color:red;
      color:white;
      font-weight: bold;
      font-size: 15px;
  }